@font-face{
    font-family:Lato-HeavyItalic;
     src: url(../ttf/Lato-HeavyItalic.ttf); 
 }
     
body,html {
margin:auto;
}
.cap{
background-color:rgb(255,236,219);
 height:700px;
}
.title{
    margin-left: 40%;
    font-family:Lato-HeavyItalic;
    font-size: 50px;
    color:#ffffff;
}

.button{
    padding-top: 100px;
}
#footer{
    height: 40px;
    background:rgb(189,195,199);
      width: 100%; 
}