header {
    background-image: url(../pic/ride.jpg);
    height: 250px;
    background-repeat: no-repeat;
    background-position: center -150px;
}

h1 {
    line-height: 200px;
    color: #fff;
    text-shadow: 1px 1px 2px black, 0 0 1em #000;;
}

.slider {
	border: 2px solid #000;
	height: 550px;
	width: 100hv;
}