* {
	font-family: Roboto-Regular;
}
article {
	width: 1024px;
	margin: auto;
}

div {
	margin-top: 20px;
	padding: 10px;
}

.content {
	width: 1144px;
	height: 100%;
	margin: auto;
	background: #CEDBDB;
}

.btn {
	padding: 10px;
	margin: 5px;
	border-color: #000;
}
/*
.task1, .task2 {
	border: 1px solid #000;
}
*/



.base > .btn {
	background: #0B8A0E;
}

.if_else > .btn {
	background: #BEE808;
}

.loops > .btn {
	background: #FF8707;
}

.for_goods > .btn {
	background: #CC110D;
}

.massive > .btn {
	background: #7F00FF;

}

.base, .if_else, .loops, .for_goods, .massive, .task1, .task2 {
	border-radius: 5px;
}

.base, .if_else, .loops, .for_goods, .massive {
	padding-top: 5px;
	padding-bottom: 5px;  
}

.base {
	border: 2px solid #00E829;
}

.if_else {
	border: 2px solid #BEE808;
}

.loops {
	border: 2px solid #FF8707;
}

.for_goods {
	border: 2px solid #CC110D;
}

.massive {
	border: 2px solid #7F00FF;
}

.btn:hover {
	background: #1D4578;
}

footer {
	border: 1px solid #000;
	border-right: none;
	border-left: none;
	border-top: none;
	margin-top: 20px;
	background: #CAD6D6;
}

